.containerVino{
    width: 90%;
    height: 180px;
    background: linear-gradient(27deg, rgba(255,206,163,1) 20%, rgba(250,233,217,1) 80%);
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
}

.textContainer{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.textContainer h1{
    font-size: 55px;
    font-family: Gabriola;
}


.tipoText{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.containerSmallButton{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.containerButton{
    width: 25%;
    display: flex;
    justify-content: space-between;
    
}

.btnCant{
    font-size: 25%;
}

.btnAgregar{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ffe8d3;
    cursor: pointer;
}

.textboxCantidad{
    width: 50px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ffe8d3;
}

.imgContainer{
    width: 30%;
    height: 100%;
}

.imgVino{
    width: 100%;
    height: 200%;
    position: relative;
    bottom: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionCatalogo{
    width: 70%;
    margin: 0 auto;
    height: auto;
    display: grid;
    margin-top: 160px;
    gap: 160px;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 50px;
}


.containerVinoSmall{
    background: linear-gradient(27deg, rgba(255,206,163,1) 20%, rgba(250,233,217,1) 80%);
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 260px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imgSmallContainer{
    height: 50%;
    width: 100%;
}

.imgSmallVino{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textSmallContainer{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}


.tipoSmallText{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;}

.imagenVino{
    width: 100px;
    height: 350px;
    background-image: url(../../../public/images/wine/donvalentin.png);
    background-size: 100% 100%;
}