.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: comfortaa;
}


html{
    scroll-behavior: smooth;

}

.carga {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(27deg, rgba(255,206,163,1) 5%, rgba(250,233,217,1) 50%, rgba(255,206,163,1) 95%);
    
    animation-fill-mode: both;
    animation-name: cargaOpacity;
    animation-duration: .3s;
    animation-delay: 0.7s;
    animation-timing-function: linear;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001; }
  
  .logoCarga {
    background-image: url(../public/images/icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px; 
z-index: 1000;}

    @keyframes cargaOpacity {
        0% {
          opacity: 1; }
        100% {
          opacity: 0;
          z-index: -100; } }

.btnNone{
    background: none;
    cursor: pointer;
	border: none;
}

nav{
    padding: 10px;
    height: 100px;
    width: 100%;
    background: linear-gradient(27deg, rgba(255,206,163,1) 5%, rgba(250,233,217,1) 50%, rgba(255,206,163,1) 95%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 100;
}

.containerOpcion{
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

i{
    color: #342E31;
    font-size: 350%
}



.containerBtnNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
}


.btnNav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 270px;
    font-size: 40px;
    border-left: 2px solid #fde3cd;
    border-right: 2px solid #fde3cd;
    font-family: Gabriola
}

.logo{
    height: 100%;
    width: 225px;
    background-image: url(../public/images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.expansibleNav{
    height: 50px;
    background: linear-gradient(27deg, rgba(255,206,163,1) 5%, rgba(250,233,217,1) 50%, rgba(255,206,163,1) 95%);
    width: 100%;
    position: fixed;
    top: 100px;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}

.selectNameContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.expansibleOption{
    width: 135px;
    height: 28px;
    border-radius: 5px;
    background-color: #ffe8d3;
}

.expansibleOption option{
    background-color: #ffe8d3;
}

/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */



/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */

.displayno{
    display: none!important;
}

.sectionOferta{
    width: 70%;
    margin: 0 auto;
    height: auto;
    display: flex;
    margin-top: 210px;
    gap: 180px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}

.containerVino{
    width: 90%;
    height: 180px;
    background: linear-gradient(27deg, rgba(255,206,163,1) 20%, rgba(250,233,217,1) 80%);
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
}

.textContainer{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.textContainer h1{
    font-size: 55px;
    font-family: Gabriola;
}


.tipoText{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.containerSmallButton{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.containerButton{
    width: 25%;
    display: flex;
    justify-content: space-between;
    
}

.btnCant{
    font-size: 25%;
}

.btnAgregar{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ffe8d3;
}

.textboxCantidad{
    width: 50px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ffe8d3;
}

.imgContainer{
    width: 30%;
    height: 100%;
}

.imgVino{
    width: 100%;
    height: 200%;
    position: relative;
    bottom: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionCatalogo{
    width: 70%;
    margin: 0 auto;
    height: auto;
    display: grid;
    margin-top: 160px;
    gap: 160px;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 50px;
}


.containerVinoSmall{
    background: linear-gradient(27deg, rgba(255,206,163,1) 20%, rgba(250,233,217,1) 80%);
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 260px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imgSmallContainer{
    height: 50%;
    width: 100%;
}

.imgSmallVino{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textSmallContainer{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}


.tipoSmallText{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
}

.carrito{
    position: fixed;
    top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
    height: 60%;
    width: 60%;
    background: linear-gradient(27deg, rgba(255,206,163,1) 5%, rgba(250,233,217,1) 50%, rgba(255,206,163,1) 95%);
    padding: 25px;
    overflow: hidden;
    box-sizing: border-box;
}

.containerTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.listEncabezado{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-bottom: #342E31 2px solid;
}

.list{
    width: 100%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: scroll;
    height: 80%;
}

.listEncabezado p{
    font-weight: bold;
}


.listItem{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background: linear-gradient(27deg, rgba(255,206,163,1) 20%, rgba(250,233,217,1) 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 70px;
}

.carritoVacio{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}
.carritoCantidad{
    font-size: 36px;
    text-align: center;
    width: 20%;
}

.carritoName{
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-size: 24px;
}

.carritoImg{
    width: 18%;
}

.containerDescCarrito{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 40%;
    height: 90%;
}



.descCarrito{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.carritoContainerPrecio{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.carritoPrecioTotal{
    font-weight: bold;
    font-size: 28px;
    
}
.totalLeft{
    float: left;
}

.totalSpace{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#TotalCarritoHTML{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.totalFont{
    font-weight: bold;
    font-size: 24px;
}

.btnVaciarCarrito{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ffdfd3;
}

.btnComprarCarrito{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #f7ffd3;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
}