@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: comfortaa;
}

.containerGral{
  scroll-snap-type: y mandatory;
}
/* .carga {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    27deg,
    rgba(255, 206, 163, 1) 5%,
    rgba(250, 233, 217, 1) 50%,
    rgba(255, 206, 163, 1) 95%
  );
  animation-fill-mode: both;
  animation-name: cargaOpacity;
  animation-duration: 0.3s;
  animation-delay: 0.7s;
  animation-timing-function: linear;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.logoCarga {
  background-image: url(../public/images/icon.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  z-index: 1000;
}

@keyframes cargaOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}

.btnNone {
  background: none;
  cursor: pointer;
  border: none;
} */
